Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

<FilesMatch "\.html$">
  Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
  Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
  Header unset ETag
  FileETag None
</FilesMatch>

<Files "index.html">
  Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
  Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
  Header unset ETag
  FileETag None
</Files>
